$font-family: "Lato-Regular", sans-serif;
$font-family-light: "Lato-Light", sans-serif;
$font-family-it: "Lato-Italic", sans-serif;
$font-family-semibold: "Lato-Bold", sans-serif;
$font-family-bold: "Lato-Black", sans-serif;
$font-family-thin: "Lato-Thin", sans-serif;
$font-size: 16px;
$primary:#eb2020